# From SamplerCompare, (c) 2010 Madeleine Thompson
# $Id: NAMESPACE 1489 2010-08-25 22:10:48Z mthompson $

# misc.

export(compare.samplers, make.dist, make.c.dist, comparison.plot, ics.act,
       ar.act, chud, chdd, raw.symbol, wrap.c.sampler, check.dist.gradient)
S3method(print, dist)
useDynLib(SamplerCompare, dchud, dchdd, raw_symbol, R_invoked_C_glue)

# samplers

export(shrinking.rank.sample, nonadaptive.crumb.sample,
       stepout.slice.sample, interval.slice.sample, hyperrectangle.sample,
       nograd.hyperrectangle.sample, arms.sample, cov.match.sample,
       multivariate.metropolis.sample, univar.metropolis.sample,
       adaptive.metropolis.sample)
       
useDynLib(SamplerCompare, sampler_glue_R_dist, sampler_glue_C_dist)
useDynLib(SamplerCompare, arms_sample, transition_sample)

# distributions

export(make.gaussian, N2weakcor.dist, N4poscor.dist, N4negcor.dist,
       schools.dist, funnel.dist, make.cone.dist,
       make.multimodal.dist, make.mv.gamma.dist)
useDynLib(SamplerCompare, Gauss2_log_dens, cone_log_dens)
