# From SamplerCompare, (c) 2010 Madeleine Thompson

# misc.

export(compare.samplers, make.dist, make.c.dist, comparison.plot,
       ar.act, chud, chdd, raw.symbol, wrap.c.sampler, check.dist.gradient,
       compounded.sampler, twonorm, simulation.result)
S3method(print, scdist)
useDynLib(SamplerCompare, dchud, dchdd, raw_symbol, R_invoked_C_glue)
importFrom('mvtnorm', 'rmvnorm')
importFrom('stats', 'ar.yw', 'ARMAacf', 'cov', 'mahalanobis', 'quantile',
           'rexp', 'rnorm', 'runif')

# samplers

export(shrinking.rank.sample, nonadaptive.crumb.sample,
       stepout.slice.sample, interval.slice.sample, hyperrectangle.sample,
       nograd.hyperrectangle.sample, arms.sample, cov.match.sample,
       multivariate.metropolis.sample, univar.metropolis.sample,
       adaptive.metropolis.sample, univar.eigen.sample,
       cheat.univar.eigen.sample, oblique.hyperrect.sample,
       cheat.oblique.hyperrect.sample)

useDynLib(SamplerCompare, sampler_glue_R_dist, sampler_glue_C_dist)
useDynLib(SamplerCompare, arms_sample, transition_sample, sr_draw)

# distributions

export(make.gaussian, N2weakcor.dist, N4poscor.dist, N4negcor.dist,
       schools.dist, funnel.dist, make.cone.dist,
       make.multimodal.dist, make.mv.gamma.dist)
useDynLib(SamplerCompare, Gauss2_log_dens, cone_log_dens)
